<ul>
  <% Bookmarks.all.each do |bookmark| %>
  <li><a href="<%= bookmark %>"><%= bookmark %></a></li>
  <% end %>
</ul>

<form action="/bookmarks" method=post>
  <input type="text" name="bookmark" placeholder="Add Bookmark">
  <input type="submit" value="add">
</form>